*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$color-dark: rgb(23, 88, 91);
$color: rgb(15, 219, 117);
$color-light: rgb(113, 197, 154);
html {
  font-size: 62.5%;
}

body {
  font-size: inherit;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  overflow-x: hidden;
  background-color: $color-dark;
}

.fluid-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 110rem;
  display: flex;
}
